<div>
  <div class="col-lg-9">
    <h3>{{page_title}}</h3>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" [routerLink]= "['/panel/vehiculos', clientId]">VEHICULOS</button>
    </div >
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" [routerLink]= "['/panel/vida', clientId]">VIDA</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" [routerLink]= "['/panel/salud', clientId]">SALUD</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" [routerLink]= "['/panel/hogar', clientId]">HOGAR</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" [routerLink]= "['/panel/pymes', clientId]">PYMES</button>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary" [routerLink]= "['/panel/otros', clientId]">OTROS</button>
    </div>
  </div>


</div>
